<!DOCTYPE html>
<html>
    <head>
        <title> Cool Social Media Application </title>
        <link rel = "stylesheet" href="static/style-message.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </head>
    <body>
  
    <div class=header>
        <h1 ><a href="/dashboard" id= "header-link">Cool Social Media Application</a></h1>
        <form action="/signout" method="post" enctype="multipart/form-data">
            <input class="btn" type="submit" value="Sign out"></form>
    </div>

    <div class = "wrap">
           
        <div class = "main-content-message">
            <div class= "message-box">
                <div class= username-message>
                    <h3>Username : Online</h3>
                </div>
    
            <div class= "messages-box" style="overflow-y: scroll">
                <div class= "messages" >
                    <ul class = "message-boxes" >
                    {% for message in pastmessages %}
                    <li class="user">{{message}}</li>
                    {% endfor %}  
                    </ul>

                </div>
            </div>

            <div class=send-message>
                <form action="" method="post" enctype="multipart/form-data" id="usrform">

                    <textarea id="message" class="textarea" class="text" cols="80" rows ="3" 
                    name="messageText" placeholder="Write a message..."></textarea>
                
                    <input class="btn" type="submit" value="Send"></form>

                    <a id="heart"  href="#" class="emoji" >&#x1f60d;</a>
                    <a id="laughface" href="#" class="emoji" >&#x1f602;</a>
                    <a id="smiley" href="#" class="emoji" >&#x1f642;</a>
                    <a id="surprised" href="#" class="emoji" >&#x1f62e;</a>
                    <a id="sadface" href="#" class="emoji" >&#x1f641;</a>
                    <a id="cryface" href="#" class="emoji" >&#x1f622;</a>
                    <script>
                            $(function(){
                                $('.emoji').click(function(){
                                    $('#message').val($('#message').val() + $(this).html());
                                })
                            })
                        </script>

            </div>
            </div>
        </div>

        <div class="sidebar-message" style="overflow-y: scroll">
            <form><input class= "btn" type="submit" value="New Message"></form>
           
            <ul class = "past-messages">
                {% for user in onlineusers %}
                <li class="user"><a class = "message-link" href="/changeMessagePage?sender_username={{user}}" >
                    {{user}}</a></li>
                {% endfor %}
            </ul>
    
            </div>
        </div>
       
    </div>
    </body>

</html>